*{
    margin: 0;
    bottom: 0;
    line-height: 0;
}

.visibility{
    display: block;
}

.div_style{
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
}

.div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.div1 button {
    height: 50px;
    font-weight: bold;
}

.div1 button:hover {
    cursor: pointer;
}

.div2 {
    display: none;
    width: 100%;
    height: 100vh;
}

.div2 .js {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2 .js .j,
.div2 .js .s {
    background-color: white;
    width: 50%;
    height: 50vh;
}

.div2 .js .s {
    background-color: black;
    color: white;
}

.div2 .js .j h1,
.div2 .js .s h1 {
    text-align: center;
    padding-top: 45%;
    font-size: 100px;
    text-transform: uppercase;
}

.div2 .javaScript {
    width: 100%;
    height: 50vh;
    background-image: radial-gradient(at center, white, black);
}

.div2 .javaScript h1 {
    text-align: center;
    padding-top: 20%;
    font-size: 100px;
}